# Client 
/client/node_modules
/client/build
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/.vscode
/client/.idea
/client/*.log
/client/.DS_Store
/client/.cache
/client/.next

# Backend
/backend/venv
/backend/.env
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/.Python
/backend/db.sqlite3
/backend/.vscode
/backend/.idea
/backend/*.log
/backend/dist/
/backend/build/
/backend/*.egg-info/
/backend/*/__pycache__

# Python
__pycache__/
*.pyc
*.pyo
*.pyd